a .float {float:left}

ul {padding-left:0px;}

#search{line-height:12px;}

a .navbar-brand {padding-top:18px; padding-left:25px; padding-bottom:10px; padding-right:5px;}

.navbar-inverse .navbar-brand {color:#FFF;}

.navbar-inverse .navbar-nav>li>a {color:#D3D3D3;}

div .container-fluid{padding-left:5px ;padding-right: 5px;}

button .navbar-toggle{margin-top:12px; margin-bottom:12px;}


div .panel-body {padding-left:5px;}

div .form-data {padding-left:0px;}

div.show {padding:0px 15px;}

ul .pagination{padding:0px;margin:0px;}

#bs-example-navbar-collapse-1{padding-right:20px;}
                
/*body {line-height:0px;}*/

#photo {color: black;
     border: solid 1px #CCCCCC;
     padding: 6px;
     border-radius: 4px;
     cursor: pointer;
     }

p .p {margin-bottom :2px;}

div .panel.panel-default{margin-bottom:0px;}

div .row.show{margin-top:5px;}

@media all and (max-width:374px) { 
    /*.spNone { display: none;}*/
    .usage{width:375px; height: auto;}
    img.cat_image {width:100%;height:auto;}
    div.allmap {width:100%; height:375px;}
}
@media all and (min-width:375px) { 
    /*.spNone { display: none;}*/
    .usage{width:375px; height: auto;}
     img.cat_image {width:375px;height:auto;}
    div.allmap {width:375px; height:375px;}
}
@media all and (min-width:480px) { 
    .usage{width:480px; height: auto;}
    img.cat_image {width:480px;height:auto;}
    div.allmap {width:480px; height:360px;}
}
@media all and (min-width:667px) and ( max-width:1024px) {
    .usage{width:667px; height: auto;}
    img.cat_image {width:auto; height:350px;}
    div.allmap {width:667px; height:500px;}
}
@media all and (min-width:1024px) {
    .usage{width:667px; height: auto;}
    img.cat_image {width:auto; height:350px;}
    div.allmap {width:1024px; height:768px;}
}
@media all and (min-width:1366px) {
    .usage{width:667px; height: auto;}
    img.cat_image {width:auto; height:350px;}
    div.allmap {width:1366px; height:1024px;}
}


/*google map serach box*/
#infowindow-content .title {
font-weight: bold;
}

#infowindow-content {
display: none;
}

#map #infowindow-content {
display: inline;
}

.pac-card {
margin: 10px 10px 0 0;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
background-color: #fff;
font-family: Roboto;
}

#pac-container {
padding-bottom: 12px;
margin-right: 12px;
}

.pac-controls {
display: inline-block;
padding: 5px 11px;
}

.pac-controls label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}

#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 16px;
font-weight: 300;
margin-left: 5px;
padding: 0 5px 0 5px;
text-overflow: ellipsis;
width: 600px;
}

#pac-input:focus {
border-color: #4d90fe;
}

#title {
color: #fff;
background-color: #4d90fe;
font-size: 25px;
font-weight: 500;
padding: 6px 12px;
}
#target {
width: 345px;
}

body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

#media-list{
    margin-left: 5px;
    margin-right: 7px;
}

#panel-body{
    padding-right:7px;
}

aside .col-xs-6 ,.col-md-4{
   padding-right :5px; 
}